node_modules
client/node_modules
npm-debug.log
.git
.gitignore
.idea
.vscode
.claude
*.md
.env.development
.env.local
skills/*
!skills/.gitkeep
data/*
!data/.gitkeep
logs/*
published_skills
client/dist
