/skills/*
/node_modules/*
/.idea/*
/.kiro/*
/.vscode/*
/client/node_modules/*
/.claude/*
excalidraw.log
.agents/*
.qoder/*
.trae/*
server/.env.development
published_skills/*
logs/*
server/db/migrate.js
server/db/syncFiles.js
